.name,
.genre,
.author {
    padding-bottom: 1em;
    padding-left: 5em;
    
}

span{
    padding-right: 1em;
}

.inp {
    width: 90%;
    padding: 0.2em 0em 0.2em 0em;
}

label {
    width: 95%;
}

.sub {
    padding-left: 45%;
}
.btn-primary {
    padding: 0.5em 2em 0.5em 2em;
    
}