.list-group-item {
    padding: 1em, 1em, 1em, 1em;
}

.list-group {

    margin-left: 1em;
    margin-right: 1em;
}

.book-img {
    border-radius: 4px;
    padding: 5px;
    width: 50px;
}
a{
    color: black
}
a:hover{
    color:rgb(61, 139, 181)
}